main {
  min-height: 80vh;
}

.product_description {
  margin-top: 100px;
}

.product_description h1 {
  margin-top: 20px;
}

.product_description p {
  margin-top: 20px;
}

.product_description button {
  width: 60%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: red;
  border-color: red;
  border-radius: 20px;
}

.product_description button:hover {
  border-color: green;
}

img {
  justify-content: center;
  width: 300px;
  height: 250px;
}

.product_description h2 {
  color: brown;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(236, 7, 7, 0.822);
}

/* Add some padding inside the card container */

.product_description .zoom {
  padding: 20px;
  align-content: center;
  border: solid green;
  border-radius: 20px;
  transition: transform 0.2s; /* Animation */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.product_description .zoom:hover {
  transform: scale(1.5);
  border: solid red;
}

.hometitle h1 {
  text-shadow: -2px -2px #ff0000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  float: left;
}

.navbar link {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
